.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  border: 0.01px solid #cbd5e1;
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
  padding-left: 15px;
}

.heading {
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
}

.visited {
  color: #ffffff;
  margin-right: 20px;
}

* {
  font-family: 'Roboto';
}

.visit-button {
  background-color: #3b82f6;
  color: #ffffff;
  height: 35px;
  width: 80px;
  border: 0px;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: bold;
}
